# MongoDB Configuration
MONGO_URL=mongodb://localhost:27017
DB_NAME=kazandiran_cark

# Security
SECRET_KEY=YOUR_VERY_SECRET_KEY_HERE_CHANGE_THIS

# CORS (virgülle ayırarak birden fazla domain ekleyebilirsiniz)
CORS_ORIGINS=http://localhost:3000,https://yourdomain.com
